.home-header {
  background-image: url('/public/assets/images/painting.JPG');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  height: 600px;
  /* box-shadow: 0 0 10px rgb(163, 163, 163); */
}

.navbrand {
  font-family: 'Courgette', cursive;
  font-size: 24px;
}

.featured-img {
  /* border-radius: 15px; */
  box-shadow: 0 0 10px rgb(190, 190, 190);
}

.font {
  font-family: 'Courgette', cursive;
}

.font-two {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

.large-text {
  font-size: 60px;
}

.large-text-two {
  font-size: 50px;
}


.home-title {
  font-size: 90px;
  text-shadow: 0 0.05rem 0.3rem rgba(0, 0, 0, 0.757);
}

.home-header-text {
  text-shadow: 0 0.05rem 0.3rem rgba(0, 0, 0, 0.757);
}

.home-about {
  background-color: #2b2d42;
}

.available-img {
  border-radius: 15px;
}

.img-painting {
  box-shadow: 0 0 10px rgb(190, 190, 190);
}

.footer {
  background-color: #edf2f4;
}
